Repository dfe-analytical-services/explore-education-statistics, pull requests merged in 2023-08, with the labels that each got.

#4104 EES-4259 switchover to permalink snapshots and FE tidy up
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/TimePeriodDataTable.test.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/__data__/timePeriodDataTable.data.tsx
  src/explore-education-statistics-common/src/modules/table-tool/utils/__tests__/mapTableHeadersConfig.test.ts
  src/explore-education-statistics-common/src/modules/table-tool/utils/mapTableHeadersConfig.ts
  src/explore-education-statistics-common/src/modules/table-tool/utils/mapUnmappedTableHeaders.ts
  src/explore-education-statistics-common/src/services/__tests__/permalinkService.test.ts
  src/explore-education-statistics-common/src/services/permalinkService.ts
  src/explore-education-statistics-common/src/services/permalinkSnapshotService.ts
  src/explore-education-statistics-common/src/services/types/blocks.ts
  src/explore-education-statistics-common/src/services/types/table.ts
  src/explore-education-statistics-common/src/services/util/permalinkServiceUtils.ts
  src/explore-education-statistics-frontend/src/modules/api/permalink/createPermalinkTable.ts
  src/explore-education-statistics-frontend/src/modules/permalink/PermalinkPage.tsx
  src/explore-education-statistics-frontend/src/modules/permalink/PermalinkPageOld.tsx
  src/explore-education-statistics-frontend/src/modules/permalink/__data__/testPermalinkData.ts
  src/explore-education-statistics-frontend/src/modules/permalink/__tests__/PermalinkPage.test.tsx
  src/explore-education-statistics-frontend/src/modules/permalink/__tests__/__snapshots__/PermalinkPage.test.tsx.snap
  src/explore-education-statistics-frontend/src/modules/table-tool/TableToolPage.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/components/TableToolFinalStep.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/components/TableToolShare.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/components/__tests__/TableToolShare.test.tsx
Labels: hotfix

#4243 chore(tests): Update test snapshots 10-08-2023
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
  tests/robot-tests/tests/snapshots/table_tool_snapshot.json
Labels: snapshots, automated

#4228 EES-4289 Update python dependencies
  Pipfile
  Pipfile.lock
  tests/robot-tests/scripts/create_snapshots.py
  tests/robot-tests/scripts/get_auth_tokens.py
  tests/robot-tests/scripts/run_tests_pipeline.py
  tests/robot-tests/scripts/visual-testing/README.md
  tests/robot-tests/scripts/visual-testing/generate_tables_and_charts_test_cases.py
  tests/robot-tests/tests/libs/common.robot
  tests/robot-tests/tests/visual_testing/tables_and_charts.py
  useful-scripts/get_data_block_responses/get_data_block_responses.py
Labels: do not merge

#4249 chore(tests): Update test snapshots 17-08-2023
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#4251 chore(tests): Update test snapshots 17-08-2023
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#4253 chore(tests): Update test snapshots 18-08-2023
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#4260 EES-4376 Defer to `CheckCanUpdateMethodologyVersion` to check permission updating methodology content
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Methodologies/MethodologyContentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Methodologies/MethodologyContentService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationErrorMessages.cs
Labels: bug
