Repository dfe-analytical-services/explore-education-statistics, pull requests merged in 2024-09, with the labels that each got.

#5214 Merge master into dev
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/IndicatorUnit.cs
  src/explore-education-statistics-common/src/utils/number/__tests__/formatPretty.test.ts
  src/explore-education-statistics-common/src/utils/number/formatPretty.ts
  src/explore-education-statistics-frontend/src/pages/privacy-notice.tsx
  tests/test-data/files/small-files/indicator_unit_test.csv
  tests/test-data/files/small-files/indicator_unit_test.meta.csv
Labels: do not merge

#5212 🐛 EES-4859 Fix data set id's and data set file id's used by API subscription pages
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/PublicationsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/ViewModels/DataSetVersionViewModels.cs
  src/explore-education-statistics-frontend/src/modules/api-subscriptions/ConfirmSubscriptionPage.tsx
  src/explore-education-statistics-frontend/src/modules/api-subscriptions/ConfirmUnsubscriptionPage.tsx
  src/explore-education-statistics-frontend/src/modules/api-subscriptions/NewSubscriptionPage.tsx
  src/explore-education-statistics-frontend/src/modules/api-subscriptions/__tests__/ConfirmSubscriptionPage.test.tsx
  src/explore-education-statistics-frontend/src/modules/api-subscriptions/__tests__/ConfirmUnsubscriptionPage.test.tsx
  src/explore-education-statistics-frontend/src/modules/api-subscriptions/__tests__/NewSubscriptionPage.test.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/__data__/testDataSets.ts
  src/explore-education-statistics-frontend/src/pages/api-subscriptions/new-subscription/[dataSetFileId].tsx
  src/explore-education-statistics-frontend/src/services/apiDataSetService.ts
Labels: bug

#5228 chore(tests): Update test snapshots 09-09-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#5231 chore(tests): Update test snapshots 10-09-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#5239 chore(tests): Update test snapshots 13-09-2024
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#5257 chore(tests): Update test snapshots 18-09-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
Labels: snapshots, automated

#5258 EES-5515 Reverting increase in number of provisioned vCores of Prod statistics databases made for EES-5339
  infrastructure/parameters/prod.parameters.json
Labels: hotfix

#5259 chore(tests): Update test snapshots 19-09-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
  tests/robot-tests/tests/snapshots/methodologies_snapshot.json
  tests/robot-tests/tests/snapshots/table_tool_snapshot.json
Labels: snapshots, automated

#5274 chore(tests): Update test snapshots 20-09-2024
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#5284 chore(tests): Update test snapshots 26-09-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#5289 chore(tests): Update test snapshots 27-09-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated
