Repository dfe-analytical-services/explore-education-statistics, pull requests merged in 2024-07, with the labels that each got.

#5046 EES-5339 Temporarily increase statistics database scale after slow running observed
  infrastructure/parameters/prod.parameters.json
Labels: hotfix

#5065 EES-4529 Update GovukNotify to 7.1.0
  src/GovUk.Education.ExploreEducationStatistics.Admin/GovUk.Education.ExploreEducationStatistics.Admin.csproj
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/LoggingNotificationClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Notifier/GovUk.Education.ExploreEducationStatistics.Notifier.csproj
Labels: do not merge

#5075 chore(tests): Update test snapshots 18-07-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated

#5096 chore(tests): Update test snapshots 26-07-2024
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Labels: snapshots, automated
